* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container {
  color: #fff;
  background-color: #4694ea;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.menu {
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.menu .logo {
  display: flex;
  justify-content: flex-start;
}
.menu .logo img {
  width: 25%;
  height: auto;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.signup {
  margin-left: auto;
  padding: 20px;
}
.login {
  margin-left: 20px;
  padding: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  border: 1px solid #fff;
  background-color: #4694ea;
  height: 200px;
  flex: 1;
}
.header-container {
  display: flex;
  justify-content: center;
}
.header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 20px;
}
.header .video {
  padding: 20px;
}
.header .video img {
  width: 100%;
  height: auto;
}
.header .header-text-wrap {
  width: 60%;
  text-align: center;
  padding: 20px;
}
.header .header-text-wrap h1 {
  font-size: 4rem;
}
.header .header-text-wrap p {
  font-size: 2rem;
}
.header .header-text-wrap .button {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.grid-container {
  display: flex;
  justify-content: center;
}
.grid {
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
.grid-item img {
  width: 100%;
  height: auto;
}
