* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Stylish', sans-serif;
}
.menu-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
.menu .logo {
  display: flex;
  justify-content: flex-start;
}
.menu .logo img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .menu .logo img {
    width: 100%;
  }
}
.menu .download {
  display: flex;
  padding: 20px;
}
.menu .download a {
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .links {
    justify-content: center;
  }
}
.signup {
  flex: 0 0 auto;
  margin-left: auto;
  padding: 20px;
}
@media (max-width: 500px) {
  .signup {
    margin-left: 0px;
  }
}
.signup a {
  text-decoration: none;
}
.login {
  margin-left: 20px;
  padding: 20px;
  flex: 0 0 auto;
}
@media (max-width: 500px) {
  .login {
    margin-left: 0px;
  }
}
.login a {
  text-decoration: none;
}
.about {
  margin-left: 20px;
  padding: 20px;
  flex: 0 0 auto;
}
@media (max-width: 500px) {
  .about {
    margin-left: 0px;
  }
}
.about a {
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer-item {
  border: 1px solid #fff;
  background-color: #29a1dd;
  height: 200px;
  flex: 1;
  padding: 20px;
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(0deg, #4694ea 3%, #fff);
  padding-bottom: 40px;
}
.header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 40px;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    flex-wrap: wrap;
  }
}
.video {
  flex: 0 0 auto;
}
@media (max-width: 500px) {
  .video {
    padding: 20px;
    width: 100%;
  }
}
.video img {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .video img {
    width: 98%;
  }
}
.header-text-wrap {
  text-align: center;
  padding: 20px;
}
.header-text-wrap h1 {
  font-size: 3rem;
}
.header-text-wrap p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: justify;
}
.header-text-wrap .button {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.header-text-wrap a {
  text-decoration: none;
  color: white;
}
.header-text-wrap .button:hover {
  text-decoration: underline;
}
.grid-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.grid {
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: auto;
}
.grid-item img {
  width: 100%;
  height: auto;
}
.grid-name {
  text-align: center;
  background-color: #4694ea;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}
.tabs-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #29a1dd;
}
.tabs-container .tabs {
  color: white;
  width: 900px;
}
.tabs-container .tabs .tabs-items {
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs-container .tabs .tabs-item {
  display: none;
  width: 95%;
}
.tabs-container .tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs-container .tabs .tabs-item-selected {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.tabs-container .tabs .tabs-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-container .tabs .tabs-links .tabs-title {
  font-size: 2rem;
  flex: 0 0 auto;
  padding: 20px 25px;
}
.tabs-container .tabs-link {
  padding: 20px 25px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
.tabs-container .tabs-link:hover {
  border-bottom: 1px solid white;
}
.tabs-container .tabs-link-selected {
  z-index: 2;
  border-bottom: 1px solid white;
}
.tabs-container .tabs-link-selected:hover {
  border-bottom: 1px solid white;
}
.bottom-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.bottom {
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.bottom .preview-image {
  flex: 0 0 auto;
  max-width: 90%;
}
.bottom img {
  width: 100%;
  height: auto;
}
.bottom .preview-text {
  padding: 20px;
  margin-bottom: 20px;
}
.kirby-container {
  background-image: url(images/khp/kirbyBG.jpg);
  background-attachment: fixed;
  min-height: 1000px;
}
.header-container {
  background-image: none;
  padding-bottom: 0px;
}
.kirby-text-wrap {
  width: 100%;
  color: white;
}
.kirby-text-wrap h1 {
  font-size: 4rem;
  text-align: left;
}
.kirby-text-wrap p {
  font-size: 1.6rem;
}
.kirby-text-wrap .button {
  margin-top: 20px;
  box-shadow: inset 0px -3px 7px 0px ffa6c9;
  background-color: #ffa6c9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.kirby-text-wrap .button a {
  text-decoration: none;
  color: white;
}
.kirby-text-wrap .button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.kirby-dance {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.kirby-footer {
  display: flex;
  justify-content: space-between;
}
.kirby-item {
  border: 1px solid #fff;
  background-color: #ffa6c9;
  height: 200px;
  flex: 1;
}
* {
  box-sizing: border-box;
}
.register-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}
.register-container .register-title {
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  font-size: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .register-container .register-title {
    font-size: 1rem;
    margin-left: 0px;
    padding: 0px;
  }
}
.register-container .register-call {
  width: 100%;
  font-size: 2rem;
}
form {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
}
fieldset {
  border: none;
  width: 100%;
}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 2rem;
  height: auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8ee f;
  color: #8a97a0;
  box-shadow: 0 1px 0 grey;
  margin-bottom: 30px;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid rgba(81, 203, 2);
}
button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4694ea;
  font-size: 1.4rem;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
}
@media (max-width: 500px) {
  form {
    max-width: 500px;
  }
}
